<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Johnny</h1>
    <p>Hey there smart momma, typin' recipes?<br>
       Enough about you, let's talk about me. I'm Johnny Bravo, the one-man army!<br>
       You look pretty...I look pretty...why don't we go home and stare at each other?<br>
       Now remember, I do my best work when I'm being worshiped as a god.</p>
  </div>

</div>
